
<body style="background-color:azure">
    <main aria-labelledby="title">
        
        <h3 style="text-align:center">Welcome To Sweet Home</h3>

        <p>Sweet Home Situated on seven acres of luscious gardens in the heart of Dhaka's primary commercial hub, the Radisson Blu Dhaka Water Garden provides a serene escape from the bustle of the city. The hotel provides the perfect balance of supreme comfort and business-minded functionality, with five-star resort amenities and incredible conveniences, such as the short ten-minute drive to Hazrat Shahjalal International Airport (DAC). Located near major business and tourist attractions, such as the National Assembly Building or Ahsan Manzil, our hotel is perfect for any guest, business or leisure.</p><br>
        <img src="" />
        <p>Even before the shovel first hit the ground to build the hotel's foundation, we had one goal in mind- to provide unrivaled luxury for all of our guests. We put in the finest amenities and facilities in our hotel, and we have also included some awe-inspiring sights. As the project progressed, it slowly dawned on us- not only have we offered the ultimate luxury in the Bangladeshi hospitality industry, we have also offered the finest facilities in all of the Indian Subcontinent. We have included many Bangladeshi firsts - heated, salt water, and best of all, hanging, and partially transparent, infinity pool, a 119 feet tall mosaic mural, and a state-of-the-art heating and water filtration system for the whole building. To that we have added jaw-dropping features- glass floor on our Sky Pool Bar, a spectacular rooftop private dining room, and some mouth-watering culinary options, among them a live Teppanyaki show and a sushi bar. Six Seasons is an extraordinary hotel that offers every indulgence.</p>
    </main>
</body>