
<body style="background-color:lightgoldenrodyellow">
    <main aria-labelledby="title" >
        
        <h3 style="text-align:center">Please Contact With Us For Any Reason</h3><br />

        <address>
            The Sweet Home - A Luxury collection Hotel<br />Plot # 49, Road # 27, Block # K Banani <br />
            Dhaka, Gulshan, Dhaka, 1213 <br />
            <abbr title="Phone">P:+880 1951-177500 </abbr>
            <br />The Sweet Home is a 5 Star contemporary luxury boutique hotel that offers you tailor made services and extravagant accommodations to make our guests feel at home.
        </address>

        <address>
            <strong>Support:</strong>   <a href="mailto:Support@example.com">sweetHome@gmail.com</a><br />
          
        </address>
    </main>
</body>