
@{
    ViewBag.Title = "Service";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    
</head>
<body style="align-items:center">

    <h3 align="center">Dhaka's Most Iconic Luxury Hotel</h3>
    <p>
        Located in the prestigious downtown business district, InterContinental Dhaka is the foremost name in luxury. The hotel boasts a Millennium modern outlook with a touch of local culture. It features 226 luxury rooms and suites, a selection of restaurants offering exquisite gastronomic experiences. Host your events in our state-of-the-art meeting spaces. Our outdoor Temperature-Controlled Swimming Pool, Fitness Centre and The Spa are the perfect destinations for unwinding during your travel.

    </p>
    <img style="resize:vertical" src="~/images/bg2.jpg" /><br />
    <h3 align="center">Indoor Pool</h3>
    <p>
        Towels, Cabanas, Food and Beverage are all available for guests to enjoy during operation hours.

        Hours of operation: 6:00 AM - 11:00 PM
    </p>
    <img style="resize:vertical" src="~/images/pool.jpg" />
    <br />
    <h3 align="center">Fitness Center</h3>
    <p>
        Located right next to the pool, our Fitness Centre is equipped with the latest equipment for your full work-out routine. Our trainer will assist you while you work-out and enjoy the beauty of the lush green Ramna Park.
        Hours of operation: 6:00 AM - 11:00 PM
    </p>
    <img style="resize:vertical" src="~/images/gym.jpg" />

</body>
</html>
